@model Compiler.Models.DealWithUI
@{
    ViewData["Title"] = "Home Page";
}

@using (Html.BeginForm())
{
    <div class="col col-12" width="90%">
        @Html.TextAreaFor(model => model.text,  new
        {
            htmlAttributes = new
            {
                style = "max-width:100% !important;",
                @class = "Formtext",
                @rows="600",
                @cols="50",
                @id ="textArea",
            }
        })
    </div>
    <div class="form-group row container">
        <div class="col-3"></div>
        <div class="col-5">
            <input type="submit" value="Scan" name="ScanParse" class="btn btn-success " style="display: block;"  onclick="javascript: return CloseWindow();" />
        </div>
        <div class="col-4">
            <input type="submit" value="Parse" name="ScanParse" class="btn btn-success " style="display: block;"  onclick="javascript: return CloseWindow();" />
        </div>
    </div>
}